body{
    background-color: black;
    font-family: DejaVu Sans Mono, monospace;
}
/* LOGO */
h1{
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 20px 0px 20px;
}

.logo{
    border-radius: 80px;
    display: flex;
    justify-content: center;
}

.logo-texto{
    font-size: 80px;
    text-shadow:0px 5px 20px #b2b2b2;
}

#logo-texto1{
    color: rgb(203, 1, 1);
}

#logo-texto2{
    color: rgb(237, 237, 237);
}

.principal{
    background-color: #797676;
}

.eventos{
    background-color: #797676;
    border-radius: 20px;
    justify-content: flex-start; 
    align-items: stretch;
    flex-direction: column;
    padding: 20px;
}

/* MOSTRA CONTAGEM REGRESSIVA */
#clockdiv{
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #000000;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #797676;
    display: inline-block;
}
smalltext{
    padding-top: 5px;
    font-size: 16px;
}